header {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.header {
    width: 0;
    height: 0;
    border-left: 450px solid transparent;
    border-right: 450px solid transparent;
    border-bottom: 20px solid black;
    display: inline-block;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.footer {
    width: 0;
    height: 0;
    border-left: 450px solid transparent;
    border-right: 450px solid transparent;
    border-top: 20px solid black;
    display: inline-block;
}