@viewport {
    width: device-width;
    zoom: 1.0;
}

body {
    background-color: #1c2125;
}

.space {
    height: 80px;
}

.divider1 {
    height: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

header {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
}

main {
    margin-left: 14%;
    margin-right: 14%;
}

.project {
    border-radius: 2px;
    background-color: #1c2125;
    background-repeat: no-repeat;
    background-size: 100%;
    text-decoration: none;
    cursor: pointer;
}

.white {
    color: #fff;
}

.yellow {
    color: #ffda6a;
}

.blue {
    color: #9FCCF9;
}

.border-yellow {
    border: 1px solid #ffda6a;
}

.border-blue {
    border: 1px solid #9FCCF9;
}

.p-desc {
    margin: 10px;
    margin-top: 0px;
    color: white;
}

small {
}