.header {
    width: 0;
    height: 0;
    border-left: 450px solid transparent;
    border-right: 450px solid transparent;
    border-bottom: 20px solid black;
    display: inline-block;
}

.footer {
    width: 0;
    height: 0;
    border-left: 450px solid transparent;
    border-right: 450px solid transparent;
    border-top: 20px solid black;
    display: inline-block;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.title {
    Font-Family: 'Playfair Display', Serif;
    font-size: 60px;
    font-weight: bold;
    padding-top: 20px;
    color: #ffda6a;
    text-align: left;
}

.title-md {
    Font-Family: 'Playfair Display', Serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-sm {
    Font-Family: 'Playfair Display', Serif;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.desc {
    Font-Family: 'Source Sans Pro', Sans-Serif;
    font-size: 16px;
    color: white;
}

.p-title {
    Font-Family: 'Playfair Display', Serif;
    margin: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: white;
}