<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
  <header>
    <div class="header">Hello FUCKER,</div>
  </header>
  <main>
    <div class="desc">
      Welcome to this shitty site. I built it so fucking fast because I wanted it to be online. I mean so fast that
      I just linked my GitHub account to some random service that would host it without my having to think. Because
      privacy is a sham in the modern era. I won't even pretend to care. Steal all my data and machine learn the
      shit out of my behavior.
    </div>
    <div class="projects">
      <div class="project">
        <div class="p-title">EATING MOLD</div>
      </div>
      <div class="project">
        <div class="p-title">THE MIRACLE OF BIRTH</div>
      </div>
      <div class="project">
        <div class="p-title">HAIR OR NOT</div>
      </div>
      <div class="project">
        <div class="p-title">WHY I DON'T</div>
      </div>
      <div class="project">
        <div class="p-title">SOME KIDS</div>
      </div>
      <div class="project">
        <div class="p-title">THE ANGRY CRAB</div>
      </div>
      <div class="project">
        <div class="p-title">DOCTOR'S ORDERS</div>
      </div>
      <div class="project">
        <div class="p-title">PLANET</div>
      </div>
    </div>
  </main>
</body>
</html>