{% extends "project_base.html" %}

{% block data %}
{% endblock %}

{% block title %}
Dynamical Systems
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.2/katex.min.css">
{% endblock %}

{% block ptitle %}Dynamical SYSTEMS{% endblock %}

{% block content %}
<div class="desc">

</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.2/katex.min.js" type="text/javascript"></script>
<script src="/static/math.js" type="text/javascript"></script>
{% endblock %}