{% extends "project_base.html" %}

{% block data %}
{% endblock %}

{% block title %}
Eating Mold
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block ptitle %}Eating MOLD{% endblock %}

{% block content %}
<div class="desc">
  JAMIE: I like the way the fuzz tickles my throat.
  <br><br>
  LISA: I mean, honestly, what's not to like?
  <br><br>
  JAMIE: Very little, truly.
  <br><br>
  (...)
  <br><br>
  JAMIE: Maybe the flavor...
  <br><br>
  LISA: Do you really think so?
  <br><br>
  JAMIE: No.
  <br><br>
  LISA: Thank God.
  <br><br>
  (Jamie looks toward the dining room)
  <br><br>
  JAMIE: Did you prepare all this for dinner?
  <br><br>
  LISA (blushing): Yes.
  <br><br>
  JAMIE: It's perfect, my love.
  <br><br>
  LISA: I am so relieved to hear you say that. I love you.
  <br><br>
  JAMIE: I love you, too.
</div>
{% endblock %}

{% block scripts %}{% endblock %}
