{% extends "project_base.html" %}

{% block data %}
{% endblock %}

{% block title %}
Miracle Birth{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block ptitle %}Miracle BIRTH{% endblock %}

{% block content %}
<div class="desc">
  "It's a miracle!" yelled Keith.
  <br>
  "Fuck me." Landon scratched his belly and furrowed his brow.
  <br>
  The two men were standing in Keith's driveway. It was a hot summer day. The asphalt burned the soles of their bare
  feet. The air smelled of grass and RoundUp.
  <br>
  "Do we just leave it?" asked Landon.
  <br>
  "Christ, no!" Keith was not about to miss this chance. "Let's put it in the garage. We can charge the neighbors admission."
</div>
{% endblock %}

{% block scripts %}{% endblock %}