{% extends "project_base.html" %}

{% block data %}
{% endblock %}

{% block title %}
Hair or Not
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block ptitle %}Hair or NOT{% endblock %}

{% block content %}
<div class="desc">
  Knot.
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  .
  <br>
  <br>
  "Now, now. Let's not forget grace."
  <br>
  Bless us, O Lord, and these Thy gifts, which we about to receive from Thy bounty through Christ our Lord. Amen.
</div>
{% endblock %}

{% block scripts %}{% endblock %}